name: Sync Anki

on:
  schedule:
    - cron: '0 18 */3 * *'  # Every 3 days at 2 AM UTC+8 (18:00 UTC)
  workflow_dispatch:

jobs:
  sync:
    uses: ./.github/workflows/sync-template.yml
    with:
      repo: 'ankitects/anki'
      sync_type: 'release'
      target_image: 'anki-syncserver'
      dockerfile: |
        FROM rust:1.85.0 AS builder

        ARG ANKI_VERSION={VERSION}

        RUN apt-get update && apt-get install -y build-essential protobuf-compiler && apt-get clean && rm -rf /var/lib/apt/lists/*

        RUN cargo install --git https://github.com/ankitects/anki.git \
        --tag ${ANKI_VERSION} \
        --root /anki-server  \
        --locked \
        anki-sync-server

        FROM gcr.io/distroless/cc-debian12

        COPY --from=builder /anki-server/bin/anki-sync-server /usr/bin/anki-sync-server

        # Note that as a user of the container you should NOT overwrite these values
        # for safety and simplicity reasons
        ENV SYNC_PORT=8080
        ENV SYNC_BASE=/anki_data

        EXPOSE ${SYNC_PORT}

        CMD ["anki-sync-server"]

        # This health check will work for Anki versions 24.08.x and newer.
        # For older versions, it may incorrectly report an unhealthy status, which should not be the case.
        HEALTHCHECK --interval=30s --timeout=10s --start-period=5s --retries=3 \
        CMD ["anki-sync-server", "--healthcheck"]

        VOLUME /anki_data

        LABEL maintainer="Jean Khawand <jk@jeankhawand.com>"
    secrets: inherit
