name: Sync Anki

on:
  schedule:
    - cron: '0 18 */3 * *'  # Every 3 days at 2 AM UTC+8 (18:00 UTC)
  workflow_dispatch:

jobs:
  sync:
    uses: ./.github/workflows/sync-multi-template.yml
    with:
      config: |
        {
          "version_key": "ankitects/anki",
          "source_repo": "ankitects/anki",
          "sync_type": "release",
          "components": [
            {
              "type": "dockerfile",
              "image_name": "anki-syncserver",
              "dockerfile": "FROM rust:1.85.0 AS builder\n\nARG ANKI_VERSION={VERSION}\n\nRUN apt-get update && apt-get install -y build-essential protobuf-compiler && apt-get clean && rm -rf /var/lib/apt/lists/*\n\nRUN cargo install --git https://github.com/ankitects/anki.git \\\n--tag ${ANKI_VERSION} \\\n--root /anki-server  \\\n--locked \\\nanki-sync-server\n\nFROM gcr.io/distroless/cc-debian12\n\nCOPY --from=builder /anki-server/bin/anki-sync-server /usr/bin/anki-sync-server\n\n# Note that as a user of the container you should NOT overwrite these values\n# for safety and simplicity reasons\nENV SYNC_PORT=8080\nENV SYNC_BASE=/anki_data\n\nEXPOSE ${SYNC_PORT}\n\nCMD [\"anki-sync-server\"]\n\n# This health check will work for Anki versions 24.08.x and newer.\n# For older versions, it may incorrectly report an unhealthy status, which should not be the case.\nHEALTHCHECK --interval=30s --timeout=10s --start-period=5s --retries=3 \\\nCMD [\"anki-sync-server\", \"--healthcheck\"]\n\nVOLUME /anki_data\n\nLABEL maintainer=\"Jean Khawand <jk@jeankhawand.com>\""
            }
          ]
        }
    secrets: inherit
