name: Sync MinIO

on:
  schedule:
    - cron: '0 18 1 * *'
  workflow_dispatch:

jobs:
  sync:
    uses: ./.github/workflows/sync-multi-template.yml
    with:
      config: |
        {
          "version_key": "minio/minio",
          "source_repo": "minio/minio",
          "sync_type": "release",
          "components": [
            {
              "type": "image",
              "images": ["minio/minio"]
            }
          ]
        }
    secrets: inherit
