name: Sync MinIO

on:
  schedule:
    - cron: '0 18 1 * *'
  workflow_dispatch:

jobs:
  sync:
    uses: ./.github/workflows/sync-template.yml
    with:
      repo: 'minio/minio'
      sync_type: 'release'
      source_images: |
        - minio/minio
    secrets: inherit
